<launch>

	<group ns="pole_test">
		<node pkg="laser_loc" name="bot_loc" type="bot_loc" output="screen"/>
		<node pkg="laser_loc" name="get_poles_test" type="get_poles_test" output="screen"/>
		<rosparam param="x">2.0</rosparam>
		<rosparam param="y">2.0</rosparam>
		<rosparam param="theta">2.0</rosparam>
	</group>

</launch>