<launch>

	<group ns="localization">
		<rosparam command="load" file="yaml/config.yaml" />
		<node pkg="localization" name="locate" type="locate" output="screen"/>
	</group>
	<node pkg="localization" type="laser_filter" name="laser_filter" output="screen">
    <rosparam command="load" file="$(find localization)/yaml/laser_config.yaml" />
  </node>


</launch>